.header {
    height: 95vh; /*95% of view port*/
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero-small.jpg);
    background-size: cover; /*fit the image inside the box, do not duplicate the image*/
    background-position: top; /*top of the image stays the same while changing the image size, other options: down, center*/
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); /*clippy polygons*/
    position: relative; /*becomes a reference point to elements inside of it*/
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  
    &__logo {
      height: 3.5rem;
    }
    
    &__text-box {
      position: absolute;
      top: 50%; /*in the relation of the parent element*/
      left: 50%;
      transform: translate(-50%, -40%); /*in the relation of the element itself*/
      text-align: center;
    }
  }